@import url(zerostyle.css);
@import url(../fonts/fonts.css);
@import url(media.css);

/* .wrapper {
    max-width: 1395px;
    margin: 0 auto;
    
} */

/* header   */
header{
    position: relative;
	height: 60px;
}
nav{
    position: fixed;
	width: 100%;
	height: 60px;
    background-color: #231F20;
	z-index: 10;
}


.container,
.subheader__container{
    max-width: 1395px;  
    margin: 0 auto;
}

.menu {
    
    background-color: #231F20;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.menu__item {
    font-family: 'Montserrat';
    display: flex;
    height: 30px;
    margin: 15px auto;
}

.menu__item a,
.menu__item p {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.shedule p {
    padding-top: 3px;
}

.menu__item img {
    display: block;
    width: 28px;
    height: 28px;
}

.menu__social a {
    display: flex;
    justify-content: space-around;
    margin-left: 9px;
    padding-top: 2px;

}

.menu__signin {}

.signin {}

.hamburger {
    display: none;
}

.subheader {
    position: fixed;
	top: 50px;
	width: 100%;
	height: 90px;
    background-color: #fff;
    z-index: 10;
    /* border: 1px solid green; */
}

.subheader__container {
    height: 90px;
}

.products {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    /* border: 1px solid rgb(242, 8, 211); */
}

.products a {
    display: block;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}

.subheader__logo {
    height: 90px;
}

.subheader__logo a {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 0px;
}

.subheader__logo p {
    font-family: 'Mochiy Pop One';
    font-size: 38px;
    padding: 13px;
    text-align: left;
    color: #231F20;
}

.subheader__logo p span {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.food {
    display: flex;
    height: 48px;
    margin-top: 20px;
    /* border: 1px solid rgb(41, 22, 214); */
}

.food a {
    font-family: 'Montserrat';
    color: #231F20;
    font-weight: 800;
    font-size: 24px;
    padding-left: 17px;
    margin-bottom: 5px;
    text-align: center;
}

.greeting {
    height: 90px;
    /* border: 1px solid rgb(41, 22, 214); */
}

.greeting p,
.greeting span {
    padding-top: 25px;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    line-height: 18px;
    color: #0E0C0D;
}

.username {
    
}

.cart {
    height: 48px;
    padding-right: 15px;
    padding-top: 15px;
}

/* promo_______________ */

.promo {
    min-height: 780px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
}

/* offers__piza_______________ */

.offers {
    margin: 45px auto;
    width: 100%;
}

.title {
    width: 30%;
    margin: 0 auto;
}

.title h3,
.title h5 {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
.underline {
    text-align: center;
    /* width: 310px; */
    height: 2px;
    background-color: #000;
    margin: 37px auto 100px;
}

/* cards______________________ */

/* .offers-container {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 528px 528px;
    column-gap: 96px;
    row-gap: 70px;
    margin: 0 auto;
    justify-content:space-around;
    
} */

.offers-container{
    display: grid;
    grid-template-columns: repeat(3, 320px );
    grid-template-rows: 528px;
    grid-auto-rows: 528px;
    column-gap: 96px;
    row-gap: 70px;
    justify-content:space-around;
    margin: 0 auto;
    
    
}

.card {

    display: flex; 
    flex-direction: column;
}

.card-container {
    /* border: 1px solid red; */
    display: flex;
    color: #231F20;
    position: relative;
    
}

.card-description {
    /* border: 1px solid gray; */
    background: rgba(255, 255, 255, 0.9);
    width: 50%;
    height: 490px;
    position: absolute;
    z-index: 5;
}

.card-title {
    margin-top: 110px;
    margin-left: 15px;
    font-weight: 800;
    font-size: 20px;
    overflow-wrap: break-word;
    line-height: 20px;
}

.card-subtitle {
    margin-top: 19px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #686466;
}

.card-weight {
    color: #231F20;
    font-weight: 500;
    font-size: 13px;
    margin-top: 20px;
    padding-left: 15px;
}

.card-price {
    font-weight: 700;
    font-size: 22px;
    margin-top: 56px;
    padding-left: 15px;
}
.card-image{
    display: block;
    width: 100%;
    position: relative;
    z-index: -5;
}
.btn, 
.btn-info btn-block add-to-cart,
.add-cart {
    margin-top: 172px;
    width: 100%;
    height: 36px;
    background: #231F20;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    z-index: 5;
}

.about-us-description{
    background: url('/assets/img/aboutUs_bg.jpg') center center/cover no-repeat;
    min-height: 780px;
    
}

.about-us-subtitle{
    display: block;
    padding-top: 160px;
    padding-right: 15px;
    width: 35%;
    float: right;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-indent: 15px;
    word-spacing:2px;
}



/* footer_______________ */
.footer {
    height: 92px;
    background: #231F20;
    padding-top: 39px;
}
.footer p {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}




/* cart_______________ */

.cart {
    
}
.cart-container {
}
.status__bar {
    margin: 0 auto;
}
.status__bar-container {
    display: flex;
}
.status__link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #CF2203;
    color:#fff;
}
.status__link a {
    padding-top: 23px;
    padding-left: 18px;
    text-align: center;
    color:#fff;
}
.status__link__title {
    margin-top: 27px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(14, 12, 13, 0.8);
}
.cap {
    text-align: center;
    margin: 18px;
}

