

.btnLog-in-out {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #231F20;
    color: #FFFFFF;
    padding: 0.5em 2em;
    margin: 0.5em auto;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.btnLog-in-out:hover {
    background-color: #CF2203;
}

.btnLog-admin {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.02em;
        background-color: #CF2203;
        color: #FFFFFF;
        padding: 0.5em 2em;
        margin: 0.5em auto;
        border: none;
        border-radius: 0.5em;
        box-sizing: border-box;
        box-shadow: none;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }


.icon-sign-in {
        background-image: url("/assets/icons/sign-in.svg");
        width: 28px; 
        padding-left: 28px;
        padding-top: 4px;
        padding-bottom: 10px;
        background-repeat: no-repeat;
        color: #FFFFFF;
        margin-left: 1em;
    }

.icon-sign-out {
        background-image: url("/assets/icons/sign-out.svg");
        width: 28px;
        padding-left: 28px;
        padding-top: 4px;
        padding-bottom: 10px;
        background-repeat: no-repeat;
        color: #FFFFFF;
        margin-left: 1em;
    }



/* The Modal (background) */
.modal {
    display: none;          /* Hidden by default */
    position: fixed;        /* Stay in place */
    z-index: 1;             /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;            /* Full width */
    height: 100%;           /* Full height */
    overflow: auto;         /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);         /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);   /* Black w/ opacity */
    backdrop-filter: blur(2em);
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    width: 20em;
    background-color: #fefefe;
    margin: 2em auto;           /* 15% from the top and centered */
    border-radius: 0.5em;
}

.modal h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
}
.modal h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}
.modal p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: justify;
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    /* position: absolute;
    right: 25px;
    top: 0; */
    position: relative;
    left: 4.5em;
    top: -0.5em;
    color: #000;
    font-size: 35px;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: #CF2203;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}

    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.notification {
    padding-top: 0.5em;
    color: #CF2203;
}

    
.modal-content a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #CF2203;
}

/* Full-width inputs */
input {
    width: 100%;
    display: inline-block;
    padding: 0.5em 2em;
    margin: 0.5em auto;
    border: 1.5px solid #E2E2E9;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: none;
}

.btnEnter {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #CF2203;
    color: #FFFFFF;
    padding: 0.5em 2em;
    margin: 0.5em auto;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
/* Add a hover effect for buttons */
.btnEnter:hover {
    opacity: 0.8;
}

.btnRegister {
    width: 100%;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #CF2203;
    /* padding: 0.5em 2em;
    margin: 0.5em auto; */
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}



/* Center the avatar image inside this container */
.imgcontainer {
    margin: 2em 0 1em 0;
}

/* Avatar image */
img.logo-avatar {
    width: 40%;
}

.modal-container {
        padding: 2em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

